@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: relative;
    background-position: center;
    background-image: radial-gradient(#FF9209 5%, #FF6C22 15%, #2B3499 60%);
    text-transform: uppercase;
}


#about {
    right: 100%;
    padding-right: 30px;
    padding: 200px 0;
    margin-top: 20px;
    font-size: 20px;
}
#contactbox {
    right: 100%;
    padding-right: 30px;
    padding: 200px 0;
    margin-top: 20px;
    font-size: 20px;
}
.section {
    padding: 150px 0;
    text-align: center;
    margin-top: 80px;
}

h1, h2, p {
    color: #1b1b1b;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.floating-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1000px;
    height: 10vh;
    background-color:#00000055;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.logo img {
    height: 50px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF9209;
}

.auth-buttons {
    display: flex;
}

.btn {
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #FF6C22;
}

.btn-secondary {
    background-color: #FF9209;
    margin-left: 10px;
}

.btn:hover {
    background-color: #FF9209;
}
#contactsec {
    text-align: center;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#contactForm {
    padding: 20px;
    background-color:#00000055;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 40px;
    resize: none;
}

.formBtn {
    background-color: #3324be;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formBtn:hover {
    background-color: #4e3cb7;
}

@media (max-width: 768px) {
    #contactForm {
        padding: 15px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes rotateCard {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100%{transform: rotateY(0deg);}
}

.containerx {
  background-image: linear-gradient(to top, #fbc2eb  0%, #30176c 100%);
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  animation: rotateCard 6s infinite;
  margin: 0 auto;
}

.user--info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
}

.user--info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h6 {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

span {
  position: absolute;
  right: 34px;
  top: 28px;
  font-size: 18px;
  color: #333;
}

h5 {
  padding: 30px 0px;
  font-size: 40px;
  color: #333;
  text-align: center; 
}

form button {
  position: relative;
  font-size: 15px;
  word-spacing: 4px;
  align-items: center;
  border: none;
  outline: none;
  text-align: center;
  width: 85%;
  height: 40px;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  margin-bottom: 50px;
  color: #d3b1b5;
  border-radius: 17px;
  margin-left: 15px;
  font-weight: 600;
}

.float {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.float i {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.c1 i, .c2 i, .c3 i {
  font-size: 15px;
}
